html, body{
    padding: 0;
    margin: 0;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.5)!important;
    border-color: rgba(255,255,255,1) !important;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

.button {
    border: none;
    color: #fff;
}
/*
header{
    margin-bottom: 2px;
}*/
.container-fluid{
    margin:0;
    padding: 0;
}
.conteudo{
    box-sizing: border-box;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

#logo{
    height: 70px;
    border: none;
    margin-left: -15px;
}
.menu{
    background-color: transparent;
    padding-left: 0;
    font-size: 14px;
    align-items: right;
}

.menuItem a{
   margin: 0 5px;
   padding: 2px 20px;
   height: 40px;
   line-height: 30px;
   text-align: center;
   border-radius: 50px;
   width: 90%;
   color: #000;
}

.menuItem a:hover {
    /*background-color: #F6CEEC;*/
   /* color: #FFF;
    box-shadow: 4px 6px 0 0 #751682;*/
    color: #D8D8D8;
}
.botaoNav{
    padding: 2px 10px;
    margin-left: 20px;
    height: 40px;
    border-radius: 8px;
    background-color: #C4C4C4;
    border: none;
    color: #000;
    font-weight: bold;
    width: 130px;
}
.botaoNav:hover {
    /*background-color: #F6CEE3; color: #A901DB;*/
    background-color: #F9DBAF;
    color: #8E580C;
    font-weight: bold;
}

.chamada{
    height: auto;
    background: radial-gradient(189.51% 547.77% at 0% 3.78%, #2FB9D5 0%, rgba(239, 94, 171, 0.49) 45.03%, rgba(196, 196, 196, 0.3) 100%);
    color: #fff;
}
.chamada .title{
    text-align: center;
    padding:25px 10% 5px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
}
.conteudoChamada{
    margin: 30px 10px 10px;
}
.txtChamada{
    margin-top: 20px;
    width: 312px;
}
.botaoChamada{
    background: #FD9827;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    color: #fff;
    padding: 7px 15px;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    width: 230px;
}

.botaoChamada:hover{
    background-color: #FAAC58;

}
.qrcodeChamada{
    width: 100px;
}
.imgChamada{
    height: 100%;
}
.imgChamada img{
    width: 100%;
    margin-bottom: 0;
}


.sobre{
    padding: 35px 0 50px;
    background-color: #F9F4F4;
    color: #ACABAB;
    text-align: center;
}
.sobre h2{
    margin-bottom: 30px;
    font-weight: 600;
}
.sobre h5{
    margin-bottom: 30px;
}
.rodape{
    margin: 5px 0 0 0;
}
.rodape p{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*
.manutencao {
    text-align: center;
    height: 87vh;
}
.imgManutencao{
    background-image: url('/img/construcao.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}*/